.container-portfolio {
  display: flex;
  align-items: center;
}

.port-1 {
  background-color: #d9d9d9;
  width: 60vw;
}

.title-port {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 80px;
}

.title-port h1 {
  width: 220px;
  word-wrap: break-word;
}

.title-port .f-desc-main-preto {
  width: 383px;
  margin: 20px 0px;
  line-height: 150%;
}

.contato-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.port-1 .redes {
  padding: 40px;
}

.img-port {
  position: absolute;
  right: 0;
}

.img-port img {
  max-width: 828px;
  max-height: 500px;
}
.bg-3 {
  background-color: #051018;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.port-1 .logo {
  display: none;
}
@media (max-width: 1100px) {
  .port-1 .logo {
    display: block;
    padding: 20px;
  }
  .menu-header {
    display: none;
  }

  .img-port {
    position: static;
  }
}

.logop {
  display: none !important;
}

@media (max-width: 900px) {
  .container-portfolio {
    display: flex;
    flex-direction: column;
  }

  .port-1 {
    width: 100%;
  }
  .title-port {
    padding: 40px 20px;
  }
  .img-port img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  .logop {
    display: inline-block !important;
  }
}

@media (max-width: 400px) {
  .title-port h1 {
    font-size: 6rem;
    width: 160px !important;
    letter-spacing: normal;
  }
  .parte-1 .logo {
    display: inline-block;
  }
  .title-port .f-desc-main-preto {
    font-size: 1rem;
    width: 260px;
  }
  .title-port .contate-me {
    font-size: 1rem;
  }
}
